//
// Typography
//

$font-size-root: 16px;
$font-size-base: 1rem;
$font-family-nunito: "Nunito Sans", sans-serif;
$font-family-righteous: "Righteous", cursive;
$line-height-base: 1.5;

// color

$color-yellow: #fff9c5;
$color-primary-yellow:  #FEDD41;
;
$color-blue: #0d84fc;
$color-black: #000000;
